/* global sec*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif", serif;
    color: #000;
    background-color: #bcdfef3f;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.highlight-color {
    color: rgb(233, 90, 8);
}

section {
    margin: 120px 0;
}

/*Navbar & Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.navbar-logo img {
    width: 135px;
    height: 82px;
}

.navbar-links {
    display: flex;
    gap: 48px;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: 48px;
}

.navbar-menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.2s ease;
}

.navbar-menu a:hover {
    color: rgb(255, 0, 0);
}

.navbar-cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Hero Banner Section*/
.hero-banner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-text,
.hero-image {
    width: 50%;
}

.hero-text h1 {
    font-size: 2.8rem;
    line-height: 1.3;
    font-weight: bold;
    font-size: 65px;
}

.hero-text p {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-size: 22px;
}


/* Product ,Plants Section*/
.product-section {
    margin: 100px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.section-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.section-header .highlight {
    color: rgb(233, 90, 8);
}

.section-header p {
    width: 60%;
    margin: 0 auto;
    color: #555;
    font-size: 1rem;
}

/* Grid  Cards */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* Single Card */
.product-card {
    background: #fff;
    padding: 0 0 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.product-card img {
    width: 100%;
    border-radius: 0;
}

.product-title {
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
}

.product-price {
    font-weight: 400;
    font-size: 22px;
    margin: 5px 0 15px;
}

/* Button */
.product-card button {
    background-color: rgb(233, 90, 8);
    color: #fff;
    padding: 10px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.product-card button:hover {
    background-color: rgb(66, 23, 0);
}

/* Flower Lover Section*/
.lover-section {
    margin: 100px 0px;
    padding: 60px 20px;
}

.lover-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    max-width: 1200px;
    margin: auto;
}

.lover-image {
    position: relative;
    flex: 1;
}

.lover-image img {
    width: 100%;
    height: auto;
    display: block;

}

.trusted-badge {
    
    position: absolute;
    top: -220px;
    left: 200px;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.973));

}

.lover-text {
    flex: 1;
}

.lover-text h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111;
}

.lover-text ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #666;
}

.lover-text li {
    margin-bottom: 16px;
    font-size: 22px;

}

/* deal */
.deals {
    text-align: center;
}

.deals p {
    width: 70%;
    margin: 0 auto;
}

.deals h1 {
    font-size: 2rem;
}

.special-color {
    color: rgb(233, 90, 8);
}

.deals-card {
    margin: 100px 0;
}

.deals-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.deal-card a {
    color: #fff;
}

.deal-card1,
.deal-card2,
.deal-card3 {
    color: #fff;
    padding: 4rem 0;
    border-radius: 24px;
}

.deal-card1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/deal-bloom.png") center/cover no-repeat;
}

.deal-card2 {
    grid-column: span 2;
    grid-row: span 2;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/deal-zabo.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.deal-card2 p {
    font-size: 1.5rem;
}

.deal-card3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/deal-ana.png") center/cover no-repeat;
}

/* subscription section */
.subscription {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.186), rgba(0, 0, 0, 0.121)),
        url("assets/news-letter-bg.png") center/cover no-repeat;

    padding: 200px 0;

}

.subscription h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.subscription .contact {
    width: 830px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.subscription .contact input,
button {
    padding: 10px 15px;
    height: 50px;
    
}

.subscription input {
    width: 100%;
}

.subscription button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(233, 90, 8);
    border: none;
    outline: none;
    color: #fff;
    height: 100%;
    cursor: pointer;
}

/*6, footer par  */
footer {
    padding: 0px 20px 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    align-items: flex-start;
}

.logo img {
    width: 120px;
    margin-bottom: 10px;
}

.logo p {
    color: rgba(0, 0, 0, 0.5);
    max-width: 250px;
    font-size: 22px;
    font-weight: 400;
}

.links-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: grey;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ff0000;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    
}

.social-links a img {
    width: 100%;
    transition: transform 0.1s ease;
}

.social-links a img:hover {
    transform: scale(1.1);

}